#game-result {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 8%;
    right: 8%;

    padding: 4px;

    visibility: hidden;
    z-index: 4;

    border-radius: 20px;
    background-color: white;

}

#result-grid {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    border: #a43023 solid 2px;

}


#result-clear {
    flex: 1;

}

#result-gu {
    flex: 1;
    
}

#result-judge {
    flex: 1;
}

#result-count {
    flex: 1;

}

.result-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-grow: 1;
}

.info-text {
    margin: 0;

}

.info-count {
    margin: 0;

}
