
/**** load ****/
#game-load {
    position: absolute;
    z-index: 4;
    width: 80%;
    height: 80%;

    box-sizing: border-box;

    left: 10%;
    top: 10%;
    
    border-radius: 20px;
    background-color: whitesmoke;

    border: 10px solid blanchedalmond;
    /* visibility: hidden; */
}
#game-load-key-intro {
    margin: 0;
    margin-left: 30%;
    
    font-family: BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

    font-size: 20px;
}
#game-load-key {
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}

#game-load-intro {
    margin: 0;

    text-align: center;

    font-family: BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#mode-intro {
    position: absolute;

    bottom: 0%;
    width: 100%;

    background-color: rgba(48, 42, 66, 0.8);


    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
}

.mode-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    align-items: center;

    justify-content: center;
}

.mode-name {
    margin: 1;

    font-family: BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 20px;
    color: white;
}

.mode-key {
    margin: 1;
    margin-right: 10px;

    color: red;
}