#game {
	border: 3px solid black;
	width: 100vw; 
	height: 56.25vw;
	max-height: 100vh;
	max-width: 177.78vh;
	margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

#game-base {
	width: 100%;
	height: 100%;
    position: inherit;
	z-index: 1;
}

#game-canvas {
	width: 100%;
	height: 100%;
    position: inherit;
	z-index: 2;
}

#game-overlay {
	width: 100%;
	height: 100%;
    position: inherit;
	z-index: 3;
}

#game-title {
    margin: 0;
    position: absolute;
    right: 5%;
    top: 5%;

    color: white;
    -webkit-text-stroke: 3px black;

    font-family: TnT, sans-serif;
    /* font-size: 50px; */
}

#game-score {
    color: white;
    -webkit-text-stroke: 2px black;
    font-family: TnT, sans-serif;
    font-size: 35px;

    position: absolute;
    right: 75%;
    bottom: 44%;

}