#game {
	border: 5px solid black;
	width: 100vw; 
	height: 56.25vw;
	max-height: 100vh;
	max-width: 177.78vh;
	margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

#background {
    position: absolute;

	width: 100%;
	height: 100%;
    z-index: 1;

    background-color: #202040;
}

#split-line {
    position: absolute;
    width: 100%;

    top: 25.56%;
    height: 24.45%;

    background-color: #000000;
}

#note-back {
    position: absolute;

    top: 26.4%;
    height: 22.62%;

    left: 26.1%;
    width: 73.9%;

    background-color: #2b2e4a;
}

#background-top {
    position: absolute;

    width: 100%;
	height: 25.56%;

    background-color: #903749;
}

#background-middle {
    position: absolute;

    left: 0%;
    width: 25.94%;

    top: 26.4%;
    height: 22.62%;

    background-color: #e84545;
}

#background-bottom {
    position: absolute;

    width: 100%;

    top: 50%;
    height: 50%;

    /* background-color: #112d4e; */
    /* background-image: linear-gradient(to top, #2a2a54 0%, #202040 80%); */
}

.game-gauge {
    position: absolute;

    left: 42.03%;
    right: 4.06%;
    top: 14.58%;
    bottom: 74.03%;
}
#game-gauge-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
}

#game-canvas {
	width: 100%;
	height: 100%;
    position: absolute;
	z-index: 2;
}

#game-overlay {
	width: 100%;
	height: 100%;
    position: absolute;
	z-index: 3;
}

#game-title {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 3%;

    color: white;
    -webkit-text-stroke: 3px black;

    font-family: TnT, sans-serif;
    /* font-size: 50px; */
}


/**** score ****/
#game-score-add {
    margin: 0;
    position: absolute;
    bottom: 60%;

    color: yellowgreen;
    -webkit-text-stroke: 2px black;
    font-family: TnT, sans-serif;
    font-size: 20px;
}
#game-score {
    margin: 0;
    position: absolute;
    right: 75%;
    bottom: 52%;

    color: white;
    -webkit-text-stroke: 2px black;
    font-family: TnT, sans-serif;
    font-size: 35px;
}


/**** diffculty ****/
#game-diffculty {
    position: absolute;

    left: 1%;
    right: 90%;
    top: 26%;
    bottom: 60%;
}
#game-diffculty-img {
    position: absolute;
    width: 100%;
    height: 100%;
}


/**** roll ****/
#game-roll {
    position: absolute;

    top: 10%;
    left: 28%;

    width: 15%;
    height: 25%;

    visibility: hidden;
}
#game-roll-back {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 10;
}
#game-roll-count {
    position: absolute;
    top: 30%;
    width: 100%;

    margin: 0;
    text-align: center;

    color: white;
    -webkit-text-stroke: 5px black;
    font-family: TnT, sans-serif;
    font-size: 60px;
    font-weight: 600;

    z-index: 11;
}


/**** combo ****/
#game-combo {
    position: absolute;
    width: 100%;
    top: 70%;

    visibility: hidden;
}
#game-combo-count {
    margin: 0;
    text-align: center;

    color: white;
    -webkit-text-stroke: 6px black;
    font-family: TnT, sans-serif;
    font-size: 80px;
    font-weight: 600;
}
#game-combo-text {
    margin: 0;
    text-align: center;

    color: white;
    -webkit-text-stroke: 3px black;
    font-family: Rouhei, sans-serif;
    font-size: 40px;
    font-weight: 400;
}


/**** gauge ****/
#game-gauge-top {
    position: absolute;

    width: 100%;
    height: 100%;
}


