
/**** load ****/
#game-load {
    position: absolute;
    z-index: 4;
    width: 80%;
    height: 80%;

    left: 9%;
    top: 10%;
    
    border-radius: 20px;
    background-color: whitesmoke;

    border: 10px solid blanchedalmond;
    visibility: hidden;

}
#game-load-key-intro {

    margin: 0;
    margin-top: 5%;
    margin-left: 25%;
    width: 100%;
    

    font-family: Rouhei, sans-serif;
    font-size: 20px;
}
#game-load-key {
    width: 50%;
    margin-left: 25%;

}
#game-load-intro {

    margin: 0;
    margin-top: 5%;

    width: 100%;
    text-align: center;

    font-family: Rouhei, sans-serif;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px black;
}
